.business-problems {
  text-align: center;
  padding: 0 6%;
  overflow: hidden;

  h2 {
    margin-bottom: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    color: $red1;
    font-family: $avenir-black;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
  }

  .container-div-links {
    @include display-flex(space-between,start,column);
    gap: 15px;

    .div-links {
      position: relative;

      img {
        width: 100%;
      }

      a {
        display: inline-block;
        .div-link-texts{
          @include display-flex(flex-end,flex-start,column);
          position: absolute;
          width: calc(100% - 80px);
          height: calc(100% - 43px);
          padding: 0 40px 40px;
          top: 0;
          background-color: rgba(0,0,0,.4);

          h5 {
              color: #fff;
              max-width: 280px;
              font-size: 16px;
              letter-spacing: 1px;
              line-height: 25px;
              margin: 20px 0;
              font-family: $avenir-book;
              text-align: left;
          }

          span {
            text-decoration: underline;
            color: #fff;
            font-size: 16px;
            font-family: $avenir-book;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: $red1
            }
          }
        }
      }
    }
  }
  
  .link-view-our-word {
    @include display-flex(center,center,center);
    margin: 20px 0;
    color: #3b2143;
    font-family: $avenir-book;
    font-size: 14px;
    line-height: 36px;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $red1
    }
  }
  @include reponsive-between(sm,md) {
    .container-div-links {

      .div-links {
  
        a {

          .div-link-texts {

            h5 {
                font-size: 25px;
            }
  
            span {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
  @include reponsive-between(md,lg) {
    
    .container-div-links {
      @include display-flex(center,center,row);
      gap: 25px;

      .div-links {

        a {

          .div-link-texts{
            @include display-flex(flex-end,flex-start,column);

            h5 {
                font-size: 16px;
                line-height: 25px;
            }
          }
        }
      }
    }
  }

	@include reponsive-min-width(lg) {
    h2 {
      letter-spacing: 2px;
      width: 100%;
    }

    .container-div-links {
      @include display-flex(center,center,row);
      gap: 25px;

      .div-links {

        a {

          .div-link-texts{
              @include display-flex(flex-end,flex-start,column);

            h5 {
              font-size: 26px;
              line-height: 36px;
            }
          }
        }
      }
    }

    .link-view-our-word {
      margin: 55px 0;
      font-size: 16px;
    }
  }
}