.main-header {

	.desktop-nav {
		display: none;
	}
	
	position: fixed;
	background-color: transparent;
	padding: 20px 6% 15px;
	@include display-flex(space-between);
	width: 88%;
	z-index: 2;

	&.sticky {
		background: white;
		.desktop-nav .nav-list a {
			color: $black;
		}
		.desktop-nav .language-selection {
			border: 2px solid $black;

			.lang-list a {
				color: $black;
			}
		}
		.mobile-nav {

			button {
	
				.hamburger {
	
					.line {
						background-color: $black;
					}
				}
			}
		}
	}

	a {
		z-index: 2;

		.logo{
			display: block;
			bottom: 0;
			max-width: 11em;
			width: auto;
			height: 30px;
		}
	}

	.mobile-nav {

		button {
			border: none;
			background: none;
			position: relative;
			z-index: 2;
			cursor: pointer;
			padding: 0;

			span {
				display: none;
			}

			.hamburger {
				width: 2.5em;
				height: 25px;

				.line {
					background-color: #fff;
					width: 100%;
					height: 2px;
					position: absolute;
					transition: .15s cubic-bezier(.2,.3,.25,.9);
				}

				.line.one {
					transform: translateY(3px);
				}

				.line.two {
					transform: translateY(12px);
				}

				.line.three {
					transform: translateY(21px);
				}
			}
		}

		.mobile-nav-list-wrap {
			@include display-flex(center,center,column);
			background: #fff;
			padding: 3vh 0;
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			right: 0;
			text-align: center;
			transition: .25s;
			opacity: 0;
    		visibility: hidden;

			ul {

				li {
					margin: 2em 0;

					a {
						text-decoration: none;
						font-size: 2rem;
						color: $dark-blue;
						font-family: $avenir-book;
					}
				}
			}
			.language-selection{
				transition: 0.5s ease-in-out;
				border: 2px solid $dark-blue;
				padding: 10px;

				.lang-list {
					display: none;
					@include display-flex(center, center);
					gap: 10px;
					height: 100%;

					li {
						margin: 0;
					}
					
					a{
						transition: 0.5s ease-in-out;
						color: $dark-blue;
						text-decoration: none;
					}
				}
			}
		}
	}

	.mobile-nav.open-menu {

		button {

			.hamburger {

				.line.one {
					transform: rotate(45deg) translateY(9px) translateX(9px);
					background-color: #a6a6a6;
				}

				.line.two {
					display: none;
				}

				.line.three {
					transform: rotate(315deg) translateY(9px) translateX(-9px);
					background-color: #a6a6a6;
				}
			}
		}

		.mobile-nav-list-wrap {
			opacity: 1;
    		visibility: visible;
		}
	}


	@include reponsive-min-width(lg) {
		.mobile-nav {
			display: none;
		}

		position: fixed;
		@include display-flex(space-between);
		padding: 40px 50px;
		left: 0;
		right: 0;
		z-index: 2;
		transition: all 0.3s ease-in-out;
		width: calc(100% - 80px);

		.logo {
			display: block;
			bottom: 0;
			max-width: 18em;
			width: auto;
			height: 46.5px;
		}
	
		&.sticky {
			background: white;
			.desktop-nav .nav-list a {
				color: $black;
			}
			.desktop-nav .language-selection {
				border: 2px solid $black;

				.lang-list a {
					color: $black;
				}
			}
		}

		.desktop-nav {
			@include display-flex(center, center);
			gap: 15px;
			transition: all 0.3s ease-in-out;

			.nav-list {
				display: none;
				@include reponsive-min-width(xs) {
					@include display-flex(center, center);
					gap: 15px;
					height: 100%;
				}

				a {
					color: $white;
					text-decoration: none;
					transition: 0.5s ease-in-out;
					font-family: $avenir-book;
					font-size: 16px;
					font-weight: 100;

					&:hover {
						color: $dark-blue;
					}
				}
			}
			.language-selection {
				transition: 0.5s ease-in-out;
				border: 2px solid $white;
				padding: 10px;

				.lang-list {
					display: none;
					@include reponsive-min-width(xs) {
						@include display-flex(center, center);
						gap: 10px;
						height: 100%;
					}

					a {
						transition: 0.5s ease-in-out;
						color: $white;
						text-decoration: none;

						&:hover {
							color: $dark-blue;
						}
					}
				}
			}
		}
	}
}