.home-section1 {
	margin-top: 40px;
	text-align: center;
	padding: 0 3%;

	h2 {
		text-transform: uppercase;
		font-weight: 700;
		color: $red1;
		font-family: $avenir-black;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 1px;
	}

	h3 {
		color: $dark-blue;
		width: 250px;
		margin: 5px auto 40px;
		font-family: $avenir-book;
		font-size: 20px;
		line-height: 20px;
		font-weight: 300;
	}
	
	.card {

		img {
			width: 100%;
		}

		.foot-text-wrap {
			min-height: 150px;
			padding: 25px;
			background-color: #fff;
			position: relative;
			margin: -50px 6% 0;
			
			p {
				font-size: 16px;
				line-height: 18px;
				font-family: $avenir-book;
				margin: 0;

				a {
					&:hover {
						transition: 0.5s ease-in-out;
						color: $red1;
					}
				}
			}
		}
	}
	@include reponsive-between(sm,lg) {
		h3{
			width: 400px;
			font-size: 30px;
			line-height: 40px;
		}

		.card{

			.foot-text-wrap{
				min-height: 260px;
				padding: 60px 80px 55px;
				background-color: #fff;
				position: relative;
				margin: -220px 6% 0;
					
				p{
					font-size: 26px;
					line-height: 36px;
					font-family: $avenir-book;
					margin: 0;
				}
			}
		}
	}
	@include reponsive-min-width(lg) {
		margin-top: 80px;
		padding: 0 6%;
		h2{
			letter-spacing: 2px;
		}

		h3{
			width: 500px;
			font-size: 36px;
			line-height: 46px;
		}

		.card{

			.foot-text-wrap {
				min-height: 260px;
				padding: 60px 80px 55px;
				margin: -220px 6% 0;
					
				p {
					font-size: 26px;
					line-height: 36px;
				}
			}
		}
	}
}