@font-face {
	font-family: 'Avenir-Black';
	src: url("../../assets/fonts/Avenir-Black.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir-Book';
	src: url("../../assets/fonts/Avenir-Book.ttf") format("truetype");
}

@font-face {
	font-family: 'Avenir-Medium';
	src: url("../../assets/fonts/Avenir-Medium.ttf") format("truetype");
}